.Profile {
    margin-top: 100px;
    position: relative;
}
.ProfileNoItems {
    margin-bottom: 160px;
    padding: 80px 0;
    text-align: center;
    font-size: 30px;
}
.saleMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(25, 9, 56, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    .saleMenuBlock {
        padding: 32px 24px;
        background: #190938;
        border: 2px solid #250e53;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        
        h3 {
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: #fff;
        }

        p {
            font-size: 16px;
            line-height: 22px;
            color: #fff;
        }
        span {
            color: #ed771b;
        }
        .saleMenuButtons {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            gap: 12px;

            button {
                width: 260px;
                padding: 0 15px;
                height: 52px;
                font-size: 16px;
                font-weight: 700;
                line-height: 18px;
                cursor: pointer;
                color: #fff;
                background: none;
                border: 2px solid #250e53;
                transition: all .3s ease;
            }
            .ok {
                border: 2px solid #763ee6;

                &:hover {
                    background: linear-gradient(180deg, rgba(50, 22, 107, 1), rgba(103, 33, 131, 1));
                }
            }
            .cancel:hover {
                border-color: #763ee6;
            }
        }
    }
}
.pagination {
    margin-bottom: 100px;
    .paginationWrapper {
        .paginationList {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 0;

            .paginationItem {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: 1px solid #872ba1;
                list-style: none;
                cursor: pointer;
                user-select: none;
                transition: box-shadow .3s ease-in-out;

                span {
                    display: flex;
                    line-height: 14px;
                }
                
                &.active {
                    background: #872ba1;
                }

                &:hover {
                    box-shadow: 0 0 5px #8b2ca5bc,inset 0 0 5px #8b2ca5bc;
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .Profile {
        margin-top: 80px;
    }
    .saleMenu {
        .saleMenuBlock {
            text-align: center;
            .saleMenuButtons {
                button {
                    height: 36px;
                }
            }
        }
    }
}
@media(max-width:650px) {
    .Profile {
        margin-top: 70px;
    }
    .saleMenu {
        padding: 0 20px;
        .saleMenuBlock {
            padding: 18px;
            width: 100%;

            .saleMenuButtons {
                width: 100%;
            }
        }
    }
}

@media (max-width: 550px) {
    .Profile {
        margin-top: 50px;
    }
    .saleMenu {
        padding: 0 20px;
        .saleMenuBlock {
            padding: 16px;

            .saleMenuButtons {
            }
        }
    }
}