.CasesAll {
    margin-top: 90px;
    nav{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
        a:hover{
            color: #8b2ca5;
            box-shadow: 0 0 10px #8b2ca5bc,inset 0 0 10px #8b2ca5bc;
        }
        a{
            transition: .4s;
            padding: 10px 30px;
            border: solid 1px #8b2ca5;
            border-radius: 10px;
        }
    }
    
    .CasesAllMain {
        margin-top: 38px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
         // ЦВЕТА ДЛЯ КЕЙСА
         .CaseCard.pink{
            background-color: #180838;
            .price{
                border: #c9405d solid 1px;
                box-shadow: 0 0 5px #c9405d, inset 0 0 5px #c9405d;
            }
        }
        .CaseCard.pink::after{
            background-color: #c9405d;
        }

        .CaseCard.darkblue{
            background-color: #180838;
            .price{
                border: #4b22de solid 1px;
                box-shadow: 0 0 5px #4b22de, inset 0 0 5px #4b22de;
            }
        }
        .CaseCard.darkblue::after{
            background-color: #4b22de;
        }

        .CaseCard.green{
            background-color: #180838;
            .price{
                border: #1dd87e solid 1px;
                box-shadow: 0 0 5px #1dd87e, inset 0 0 5px #1dd87e;
            }
        }
        .CaseCard.green::after{
            background-color: #1dd87e;
        }

        .CaseCard.purple{
            background-color: #180838;
            .price{
                border: #9830b3 solid 1px;
                box-shadow: 0 0 5px #9830b3, inset 0 0 5px #9830b3;
            }
        }
        .CaseCard.purple::after{
            background-color: #9830b3;
        }

        .CaseCard.yellow{
            background-color: #180838;
            .price{
                border: #cbde22 solid 1px;
                box-shadow: 0 0 5px #cbde22, inset 0 0 5px #cbde22;
            }
        }
        .CaseCard.yellow::after{
            background-color: #cbde22;
        }

        .CaseCard.blue{
                background-color: #180838;
                // background-image: linear-gradient(to bottom right, #173366, #180939);
            .price{
                border: #3092bb solid 1px;
                box-shadow: 0 0 5px #3092bb, inset 0 0 5px #3092bb;
            }
        }
        .CaseCard.blue::after {
            background-color: #3092bb;
        }

        .CaseCard:hover::after {
            width: 6px;
            left: -6px;
        }

        .CaseCard::after{
            position: absolute;
            content: '';
            left: 2px;
            width: 0;
            height: 40px;
            border-radius: 50px 0 0 50px;
            bottom: 30px;
            transition: .4s;
        }

        .CaseCard {
            height: 290px;
            position: relative;
            font-size: 14px;
            border-radius: 18px;
            z-index: 1;

            .CaseCardWrapper {
                height: 100%;
                transition: .4s;
                border: #ffffff00 solid 2px;
                border-radius: 18px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
                overflow: hidden;
                &.pink:hover{
                    border: #c9405d solid 2px;
                }
        
                &.darkblue:hover{
                    border: #4b22de solid 2px;
                }
        
                &.green:hover{
                    border: #1dd87e solid 2px;
                }
        
                &.purple:hover{
                    border: #9830b3 solid 2px;
                }

                &.yellow:hover{
                    border: #cbde22 solid 2px;
                }
        
                &.blue:hover{
                    border: #3092bb solid 2px;
                }
            }
            .CaseCardInner {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                max-height: 290px;
                position: relative;
                overflow: hidden;
                z-index: 1;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 180px;
                    height: 180px;
                    border-radius: 100%;
                    filter: blur(25px);
                    z-index: 1;
                }
                
                &::before {
                    top: -70px;
                    left: -70px;
                }
                &::after {
                    bottom: -70px;
                    right: -70px;
                }

                &.purple::before, &.purple::after {
                    background: radial-gradient(circle at center, #2d0e4c, #2d0e4c00);
                }
                &.pink::before, &.pink::after {
                    background: radial-gradient(circle at center, #461641, #46164100);
                }
                &.darkblue::before, &.darkblue::after {
                    background: radial-gradient(circle at center, #1a0c4b, #1a0c4b00);
                }
                &.green::before, &.green::after {
                    background: radial-gradient(circle at center, #193447, #19344700);
                }
                &.yellow::before, &.yellow::after {
                    background: radial-gradient(circle at center, #5d6419, #5c641900);
                }
                &.blue::before, &.blue::after {
                    background: radial-gradient(circle at center, #173266, #17336600);
                }
            }
            .price {
                padding: 7px 25px;
                width: fit-content;
                border-radius: 18px;
                position: relative;
                z-index: 3;
            }
            img{
                width: 80%;
                margin: 0 auto;
                position: relative;
                z-index: 2;
            }
            p {
                margin-top: 10px;
                font-size: 18px;
                line-height: 22px;
                position: relative;
                z-index: 2;
            }
        } 
    }
}

@media screen and (max-width: 1280px) {
    .CasesAll {
        .CasesAllMain {
            .CaseCard {
                height: auto;
            }
        }
    }
}

@media only screen and (min-width: 335px) and (max-width: 980px) {
    .CasesAll {
        margin-top: 32px;
        .CasesAllMain {
            margin-top: 22px;
            grid-template-columns: repeat(auto-fill,minmax(155px, 1fr));
            gap: 14px;
        
            .CaseCard {
                height: auto;
                .CaseCardInner {
                    padding: 16px 12px;

                    .price {
                        padding: 8px 25px;
                        font-size: 14px;
                        line-height: 14px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .CasesAll {
        h2 {
            font-size: 18px;
        }
        .CasesAllMain {
            .CaseCard {
                .CaseCardInner {
                    .price {
                        padding: 6px 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .CasesAll {
        margin-top: 22px;
        .CasesAllMain {
            margin-top: 22px;
            grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
            .CaseCard {
                .CaseCardInner {
                    .price {
                        padding: 4px 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .CasesAll {
        margin-top: 22px;
        .CasesAllMain {
            .CaseCard {
                .CaseCardInner {
                    padding: 10px 0 12px 0;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(135px,1fr));
                
                    .price {
                        grid-row: 2;
                        width: 75%;
                        margin: 0 auto;
                        margin-top: 6px;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 335px) {
    .CasesAll {
        .CasesAllMain {
            grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
            gap: 14px;
            .CaseCard {
                height: auto;
                .price {
                    padding: 6px 4px;
                    width: 110px;
                    margin: 0 auto;
                    margin-top: 6px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }
    }
}