.ReturnHomeButton {
    display: flex;
    align-items: center;
    gap: 5px;

    .ReturnHomeItem {
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
        line-height: 17px;

        span {
            color: #6b5499;
        }
    }
}