.SortInventory {
    margin-top: 38px;
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    ul li {
        list-style: none;
    }

    ul {
        padding: 0;
    }

    .categoryList {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-right: 30px;

        .categoryItem {
            height: 55px;
            padding: 18px 30px;
            border: 1px solid #872ba1;
            border-radius: 14px;

            color: #FFF;
            font-size: 15px;
            font-weight: 600;
            line-height: 16px;
            cursor: pointer;
        }

        .categoryItem.active {
            border: 1px solid #32166b;
            background: linear-gradient(48deg, #32166b, 50%, #672183 100%);
        }
    }

    .SellEverything {
        height: 55px;
        padding: 18px 60px;
        background: linear-gradient(48deg, #b4550a, 50%, #de7c2f 100%);
        border: 1px solid #9b4705;
        border-radius: 14px;

        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        cursor: pointer;
    }

    .SortInventoryPrice {
        margin-left: 35px;

        .priceList {
            display: flex;
            // border: 1px solid #64597a;
            border-radius: 14px;

            .priceItem {
                height: 55px;
                padding: 18px 20px;
                border: 1px solid #64597a;

                color: #FFF;
                font-size: 15px;
                font-weight: 600;
                line-height: 18px;
                cursor: pointer;
            }

            .priceItem:first-child {
                border-top-left-radius: 14px;
                border-bottom-left-radius: 14px;
            }
            .priceItem:last-child {
                border-top-right-radius: 14px;
                border-bottom-right-radius: 14px;
            }
            
            .priceItem.active {
                border: 1px solid #9830b3;
                box-shadow: 0 0 10px #9830b3;
            }
        }
    }
}

@media (max-width: 1300px) {
    .SortInventory {
        flex-wrap: wrap;
        gap: 16px;
        .SortInventoryCategory {
            .categoryList {
                gap: 12px;
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 900px) {
    .SortInventory {
        margin-top: 22px;
        padding-top: 20px;
        padding-bottom: 40px;
        gap: 12px;
        .SortInventoryCategory {
            .categoryList {
                gap: 10px;
                .categoryItem {
                    height: auto;
                    padding: 10px 30px;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
        .SellEverything {
            height: auto;
            padding: 10px 30px;
            font-size: 10px;
            line-height: 12px;
        }
        .SortInventoryPrice {
            .priceList {
                .priceItem {
                    height: auto;
                    padding: 10px 25px;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }
}

@media(max-width:650px) {
    .SortInventory {
        margin-top: 20px;
        padding-top: 18px;
        padding-bottom: 38px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        .SellEverything {
            width: 160px;
            margin: 0 auto;
            grid-row: 3;
        }
        .SortInventoryPrice {
            .priceList {
                .priceItem {
                    padding: 10px 15px;
                    font-size: 9px;
                    line-height: 11px;
                }
            }
        }
    }
}

@media(max-width:550px) {
    .SortInventory {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        gap: 10px;
        .SortInventoryCategory {
            .categoryList {
                justify-content: center;
                .categoryItem {
                    padding: 10px 15px;
                    font-size: 8px;
                    line-height: 10px;
                }
            }
        }
        .SellEverything {
            width: 120px;
            font-size: 9px;
            padding: 10px;
        }
        .SortInventoryPrice {
            margin-left: 0;
            .priceList {
                justify-content: center;
                .priceItem {
                    padding: 10px 15px;
                    font-size: 8px;
                    line-height: 11px;
                }
            }
        }
    }
}