.Case {
    margin-top: 38px;

    .CaseWrapper {
        display: flex;
        gap: 150px;
        justify-content: center;

        .CaseImg {
            // padding-top: 35px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;

            &::before {
                content: "";
                width: 468px;
                height: 468px;
                border-radius: 100%;
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }
            &.purple::before {
                border: 1px solid #9432af;
                box-shadow: 0 0 10px #9a33b5, inset 0 0 10px #9a33b5;
            }
            &.pink::before {
                border: 1px solid #c9405d;
                box-shadow: 0 0 10px #c9405d, inset 0 0 10px #c9405d;
            }
            &.darkblue::before {
                border: 1px solid #4b22de;
                box-shadow: 0 0 10px #4b22de, inset 0 0 10px #4b22de;
            }
            &.green::before {
                border: 1px solid #1dd87e;
                box-shadow: 0 0 10px #1dd87e, inset 0 0 10px #1dd87e;
            }
            &.yellow::before {
                border: 1px solid #cbde22;
                box-shadow: 0 0 10px #cbde22, inset 0 0 10px #cbde22;
            }
            &.blue::before {
                border: 1px solid #3092bb;
                box-shadow: 0 0 10px #3092bb, inset 0 0 10px #3092bb;
            }
        }

        .BuyCase {
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            .CaseName {
                padding-left: 10px;
                text-align: start;
                color: #FFF;
                font-size: 38px;
                font-weight: 400;
                line-height: 40px;
            }

            .CasePrice {
                max-width: 160px;
                margin-top: 20px;
                text-align: center;
                padding: 16px 0;
                padding-bottom: 14px;
                border-radius: 10px;

                color: #FFF;
                font-size: 34px;
                line-height: 36px;

                &.purple {
                    border: 1px solid #9432af;
                    box-shadow: 0 0 10px #9a33b5, inset 0 0 10px #9a33b5;
                }
                &.pink {
                    border: 1px solid #c9405d;
                    box-shadow: 0 0 10px #c9405d, inset 0 0 10px #c9405d;
                }
                &.darkblue {
                    border: 1px solid #4b22de;
                    box-shadow: 0 0 10px #4b22de, inset 0 0 10px #4b22de;
                }
                &.green {
                    border: 1px solid #1dd87e;
                    box-shadow: 0 0 10px #1dd87e, inset 0 0 10px #1dd87e;
                }
                &.yellow {
                    border: 1px solid #cbde22;
                    box-shadow: 0 0 10px #cbde22, inset 0 0 10px #cbde22;
                }
                &.blue {
                    border: 1px solid #3092bb;
                    box-shadow: 0 0 10px #3092bb, inset 0 0 10px #3092bb;
                }
            }

            .SelectCountCase {
                margin-top: 40px;
    
                ul,li {
                    list-style: none;
                }
                ul {
                    padding: 0;
                }
                
                span {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 18px;
                }
    
                .CountCaseBlock {
                    margin-top: 16px;
                    
                    .CountCaseList {
                        display: flex;
                        border-radius: 14px;
            
                        .CountCaseItem {
                            height: 55px;
                            padding: 14px 30px;
                            border: 1px solid #64597a;
            
                            color: #FFF;
                            cursor: pointer;
    
                            span {
                                font-size: 26px;
                                font-weight: 400;
                                line-height: 27px;
                            }
                        }
            
                        .CountCaseItem:first-child {
                            border-top-left-radius: 14px;
                            border-bottom-left-radius: 14px;
                        }
                        .CountCaseItem:last-child {
                            border-top-right-radius: 14px;
                            border-bottom-right-radius: 14px;
                        }
                        
                        .CountCaseItem.active {
                            border: 1px solid #9830b3;
                            box-shadow: 0 0 10px #9830b3, inset 0 0 10px #9830b3;
                        }
                    }
                }
            }
            .TopUpBalance {
                margin-top: 42px;
                display: flex;
                flex-direction: column;
                gap: 16px;
    
                span {
                    color: #ef7d23;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 18px;
                }
    
                .TopUpBalanceBtn {
                    padding: 20px;
                    background: linear-gradient(48deg, #b4550a, 50%, #de7c2f 100%);
                    border: 1px solid #9b4705;
                    border-radius: 14px;
    
                    text-align: center;
                    color: #FFF;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 20px;
                    cursor: pointer;
                }
            }

            .warning {
                max-width: 400px;
                margin-top: 28px;
                padding: 34px 30px;
                text-align: center;
                border: 1px solid #ed771b;
                border-radius: 14px;
                box-shadow: 0 0 4px #ed771b, inset 0 0 4px #ed771b;

                color: #FFF;
                font-size: 18px;
                line-height: 20px;

                h3 {
                    text-transform: uppercase;
                }
                p {
                    margin-top: 20px;
                    margin-bottom: 14px;
                }
                span {
                    color: #ef7d23;
                }
            }
        }
    }
}

@media(max-width:1300px) {
    .Case {
        .CaseWrapper {
            gap: 100px;
            .CaseImg {
                img {
                    width: 464px;
                }
                &::before {
                    content: "";
                    width: 420px;
                    height: 420px;
                }
            }
        }
    }
}

@media(max-width:1050px) {
    .Case {
        .CaseWrapper {
            gap: 30px;
            .CaseImg {
                img {
                    width: 340px;
                }
                &::before {
                    content: "";
                    width: 350px;
                    height: 350px;
                }
            }
            .BuyCase {
                .CaseName {
                    font-size: 26px;
                    line-height: 28px;
                }
                .CasePrice {
                    width: auto;
                    padding: 14px 29px;
                    font-size: 26px;
                    line-height: 28px;
                }
                .warning {
                    h3 {
                        font-size: 18px;
                        line-height: 20px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    span {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

@media(max-width:900px) {
    .Case {
        .CaseWrapper {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .CaseImg {
                width: 460px;
                position: relative;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    width: 480px;
                    height: 480px;
                }
                img {
                    width: 460px;
                }
            }
            .BuyCase {
                padding-left: 0;
                margin-top: 100px;
                width: 400px;
            }
        }
    }
}

@media(max-width:650px) {
    .Case {
        .CaseWrapper {
            .CaseImg {
                width: 360px;
                img {
                    width: 360px;
                }
                &::before {
                    content: "";
                    width: 380px;
                    height: 380px;
                }
            }
            .BuyCase {
                margin-top: 50px;
                .CaseName {
                    font-size: 24px;
                    line-height: 26px;
                }
                .CasePrice {
                    max-width: 140px;
                    padding: 14px 29px;
                    font-size: 18px;
                    line-height: 18px;
                }
                .warning {
                    h3 {
                        font-size: 18px;
                        line-height: 20px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    span {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
                .SelectCountCase {
                    .CountCaseBlock {
                        .CountCaseList {
                            .CountCaseItem {
                                span {
                                    font-size: 22px;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
                .TopUpBalance {
                    margin-top: 32px;
                }
            }
        }
    }
}

@media(max-width:550px) {
    .Case {
        .CaseWrapper {
            .CaseImg {
                width: 290px;
                img {
                    width: 290px;
                }
                &::before {
                    content: "";
                    width: 320px;
                    height: 320px;
                }
            }
            .BuyCase {
                width: 90%;
                .CaseName {
                    font-size: 20px;
                    line-height: 22px;
                }
                .CasePrice {
                    max-width: 120px;
                    padding: 14px 20px;
                    font-size: 16px;
                    line-height: 16px;
                }
                .warning {
                    h3 {
                        font-size: 16px;
                        line-height: 18px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 14px;
                    }
                    span {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
                .SelectCountCase {
                    margin-top: 30px;
                    span {
                        font-size: 12px;
                        line-height: 12px;
                    }
                    .CountCaseBlock {
                        .CountCaseList {
                            .CountCaseItem {
                                height: auto;
                                padding: 10px 20px;
                                span {
                                    font-size: 16px;
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                }
                .TopUpBalance {
                    margin-top: 28px;
                    span {
                        font-size: 12px;
                        line-height: 12px;
                    }
                    .TopUpBalanceBtn {
                        padding: 15px;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
                .warning {
                    padding: 20px 10px;
                    min-width: 100%;
                    
                    h3 {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    p {
                        margin-top: 10px;
                        margin-bottom: 8px;
                    }
                    span {
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }
        }
    }
}

@media(max-width:450px) {
    .Case {
        .CaseWrapper {
            .CaseImg {
                width: 240px;
                img {
                    width: 240px;
                }
                &::before {
                    content: "";
                    width: 260px;
                    height: 260px;
                }
            }
            .BuyCase {
                margin-top: 40px;
                .CaseName {
                    font-size: 18px;
                    line-height: 20px;
                }
                .CasePrice {
                    max-width: 100px;
                    padding: 10px 12px;
                    font-size: 13px;
                    line-height: 14px;
                }
                .warning {
                    h3 {
                        font-size: 12px;
                        line-height: 18px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 14px;
                    }
                    span {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
                .SelectCountCase {
                    margin-top: 20px;
                    span {
                        font-size: 11px;
                        line-height: 12px;
                    }
                    .CountCaseBlock {
                        margin-top: 15px;
                        .CountCaseList {
                            .CountCaseItem {
                                height: auto;
                                padding: 10px 20px;
                                span {
                                    font-size: 14px;
                                    line-height: 14px;
                                }
                            }
                        }
                    }
                }
                .TopUpBalance {
                    margin-top: 18px;
                    span {
                        font-size: 11px;
                        line-height: 12px;
                    }
                    .TopUpBalanceBtn {
                        padding: 12px;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
                .warning {
                    margin-top: 22px;
                    padding: 20px 10px;
                    h3 {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    p {
                        margin-top: 10px;
                        margin-bottom: 8px;
                    }
                    span {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }

    // .Header nav .navRight .ico, .Header nav .massager .ico {
    //     width: 30px;
    //     height: 30px;
    //     img {
    //         width: 18px;
    //         height: 18px;
    //     }
    // }
    // .Header nav .navRight .block p, .Header nav .massager .block p {
    //     font-size: 10px;
    // }
    // .Header nav .navRight .block, .Header nav .massager .block {
    //     gap: 2px;
    // }
}