// HEADER TOP
.HeaderTop {
    width: 100%;
    height: 65px;
    padding-right: 300px;
    background: linear-gradient(91deg, #A7510D 39.56%, #200038 57.27%);
    position: relative;
}
.HeaderLeftLine {
    position: absolute;
    left: 0;
    z-index: 1;
}
.HeaderCenterLine {
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    z-index: 1;
}
.HeaderRightLine {
    position: absolute;
    right: 0;
    z-index: 1;
}

.HeaderTop .inner {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.HeaderTop .inner .wrapper {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    gap: 20px;
}

.HeaderTop .wrapper .buttonsRight {
    display: flex;
    align-items: center;
    gap: 9px;
}
.HeaderTop .wrapper .buttonsRight .languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.HeaderTop .wrapper .replenishBtn, .loginBtn {
    height: 34px;
    padding: 5px 9px 5px 7px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #A7510D;
    gap: 8px;

    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
}
.HeaderTop .wrapper .balance {
    font-size: 14px;
    line-height: 16px;
    text-transform: lowercase;
}
.HeaderTop .wrapper .buttonsRight span {
    display: flex;
}
.HeaderTop .wrapper .buttonsRight .ProfileImg img {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background: #cccccc;
}
.HeaderTop .wrapper .buttonsRight .sound {
    cursor: pointer;
}

// HEADER WINNINGS
.HeaderWinnings {
    height: 94px;
    background: #200038;
}
.HeaderWinnings .HeaderWinningsWrapper {
    padding: 2px 2px 3px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3px;
}
.HeaderWinningsWrapper .HeaderWinningsOnline {
    height: 100%;
    display: flex;
    gap: 3px;
}
.HeaderWinningsWrapper .HeaderWinningsOnline .onlineBlock {
    padding: 16px 6px;
    border-radius: 3px;
    background: #310062;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.HeaderWinningsWrapper .HeaderWinningsOnline .onlineBlock .name {
    margin-top: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 11.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    gap: 2px;
}

.HeaderWinningsWrapper .HeaderWinningsOnline .onlineBlock .onlineNumber {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.HeaderWinningsWrapper .HeaderWinningsOnline .rouletteSelection {
    width: 50px;
    display: flex;
    flex-direction: column;
}
.HeaderWinningsWrapper .HeaderWinningsOnline .rouletteSelection .item {
    padding: 0 5px;
    height: 45px;
    border-radius: 3px;
    background: #310062;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    gap: 3px;
}
.HeaderWinningsWrapper .HeaderWinningsOnline .rouletteSelection .item.active {
    background: #4E127D;
}

.HeaderWinningsWrapper .HeaderDropsItems {
    display: flex;
    gap: 2px;
}

.DropItem {
    width: 127.4px;
    height: 85px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    border: 2px solid #797A7B;
    background: linear-gradient(114deg, #171A25 0%, #797A7B 44.79%, #797A7B 58.85%, #171A25 100%);
}
.DropItem img {
    width: 95px;
}
.DropItemLoading {
    transform: rotate(10deg);
}
.DropItem.pink {
    border: 2px solid #FF00BC;
    background: linear-gradient(114deg, rgba(34, 2, 26, 0.80) 0%, rgba(225, 24, 172, 0.80) 44.79%, rgba(225, 24, 172, 0.80) 58.85%, rgba(51, 4, 39, 0.80) 100%);
}
.DropItem.purple {
    border: 2px solid #7B02DC;
    background: linear-gradient(114deg, #22021A 0%, #7B02DC 44.27%, #7B02DC 56.77%, #330427 100%);
}
.DropItem.blue {
    border: 2px solid #1B6AE2;
    background: linear-gradient(114deg, rgba(34, 2, 26, 0.80) 0%, #1B6AE2 44.79%, #1B6AE2 58.85%, rgba(51, 4, 39, 0.80) 100%);
}
.DropItem.yellow {
    border: 2px solid #c6d125;
    background: linear-gradient(114deg, rgba(34, 2, 26, 0.80) 0%, #c6d125 44.79%, #c6d125 58.85%, rgba(51, 4, 39, 0.80) 100%);
}
.DropItem.green {
    border: 2px solid #2cbb76;
    background: linear-gradient(114deg, rgba(34, 2, 26, 0.80) 0%, #2cbb76 44.79%, #2cbb76 58.85%, rgba(51, 4, 39, 0.80) 100%);
}
.DropItem.red {
    border: 2px solid #b12e2e;
    background: linear-gradient(114deg, rgba(34, 2, 26, 0.80) 0%, #b12e2e 44.79%, #b12e2e 58.85%, rgba(51, 4, 39, 0.80) 100%);
}
.Drop {
    position: relative;
}
.DropInfo {
    width: 160px;
    border: 2px solid #A7510D;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    z-index: 99;
    display: none;
}
.DropInfo::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 42.5%;
    border-radius: 2px;
    border: 2px solid #A7510D;
    background: #200038;
    transform: rotateZ(45deg) skew(2deg, 2deg);
    z-index: -1;
  }
.Drop:hover .DropInfo {
    display: block;
}
.DropInfo .Inner {
    display: flex;
    border-radius: 8px;
    background: #200038;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.DropInfo .InfoCase img {
    width: 80px;
}
.DropInfo .InfoCase {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.DropInfo .InfoCase p {
    text-align: center;
    color: #dbdbdb;
    font-size: 12px;
    line-height: 14px;
}
.DropInfo .InfoUser {
    width: 100%;
    padding: 8px;
    background: #4E127D;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.DropInfo .InfoUser img {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background: #ccc;
}
.DropInfo .InfoUser p {
    font-size: 12px;
    line-height: 14px;
}

@media screen and (max-width: 1600px) {
    .HeaderCenterLine {
        position: absolute;
        left: 62%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1120px) {
    .HeaderTop {
        padding-right: 180px;
    }
    .HeaderCenterLine {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    // HEADER TOP
    .HeaderTop {
        height: 50px;
        padding-right: 20px;
        overflow: hidden;
    }
    .HeaderTop .wrapper .replenishBtn, .loginBtn {
        height: 28px;
        padding: 4px 5px 4px 5px;
        gap: 4px;
    }
    .HeaderTop .wrapper .balance {
        font-size: 12px;
        line-height: 14px;
    }
    .HeaderTop .inner .wrapper {
        gap: 12px;
    }
    .HeaderTop .wrapper .buttonsRight {
        gap: 8px;
    }
    .HeaderTop .wrapper .buttonsRight .languages .selectedLang svg {
        width: 20px;
    }
    .HeaderTop .wrapper .buttonsRight .ProfileImg img {
        width: 32px;
        height: 32px;
    }
    .HeaderTop .wrapper .languages .arrow svg {
        width: 8px;
    }
    .HeaderTop .wrapper .replenishBtn img, .loginBtn img {
        width: 22px;
        height: 22px;
    }
    .HeaderTop .wrapper .buttonsRight .sound svg {
        width: 18px;
    }

    // 
    .HeaderWinnings {
        height: 69px;
    }
    .HeaderWinningsWrapper .HeaderWinningsOnline .onlineBlock {
        padding: 0px 4px;
        justify-content: center;
    }
    .HeaderWinningsWrapper .HeaderWinningsOnline .onlineBlock .onlineSvg {
        width: 16px;
        height: 14px;
    }
    .HeaderWinningsWrapper .HeaderWinningsOnline .onlineBlock .name {
        margin-top: 6px;
        margin-bottom: 6px;
        font-size: 8px;
        line-height: 10px;
    }
    
    .HeaderWinningsWrapper .HeaderWinningsOnline .onlineBlock .onlineNumber {
        font-size: 11px;
        line-height: 13px;
    }
    .HeaderWinningsWrapper .HeaderWinningsOnline .rouletteSelection {
        width: 40px;
    }
    .HeaderWinningsWrapper .HeaderWinningsOnline .rouletteSelection .item {
        padding: 0 4px;
        font-size: 8px;
        line-height: 8px;
    }
    .HeaderWinningsWrapper .HeaderWinningsOnline .rouletteSelection .item img {
        width: 10px;
        height: 10px;
    }
    .DropItem {
        width: 100px;
        height: 65px;
    }
    .DropItem img {
        width: 77px;
    }

    // 
    .DropInfo {
        width: 120px;
        left: 50%;
        top: 78px;
    }
    .DropInfo::before {
        width: 12px;
        height: 12px;
        top: -8px;
      }
    .DropInfo .InfoCase img {
        width: 70px;
    }
    .DropInfo .InfoCase {
        padding: 6px;
        gap: 6px;
    }
    .DropInfo .InfoCase p {
        font-size: 10px;
        line-height: 12px;
    }
    .DropInfo .InfoUser {
        padding: 6px;
        gap: 6px;
    }
    .DropInfo .InfoUser img {
        width: 20px;
        height: 20px;
    }
    .DropInfo .InfoUser p {
        font-size: 10px;
        line-height: 12px;
    }
}

@media screen and (max-width: 780px) {
    .HeaderLeftLine {
        left: -50px;
    }
}


@media screen and (max-width: 660px) {
    .HeaderLeftLine {
        left: -150px;
    }
}

@media screen and (max-width: 550px) {
    .HeaderLeftLine {
        left: -250px;
    }
}

@media screen and (max-width: 440px) {
    .HeaderLeftLine {
        left: -300px;
    }
}

@media screen and (max-width: 389px) {
    .HeaderLeftLine {
        left: -350px;
    }
    .HeaderRightLine {
        right: 0px;
    }
}

@media screen and (max-width: 339px) {
    .HeaderLeftLine {
        left: -380px;
    }
}