.Loading {
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;

    .LoadingContent {
        padding: 120px 0;
    }
}

@media screen and (max-width: 780px) {
    .Loading {
    
        .LoadingContent {
            padding: 0 0 120px;
        }
    }
}

@media screen and (max-width: 480px) {
    .Loading {
        .LoadingContent {
            padding: 0 0 80px;
        }
    }
}