.Loading {
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    display: flex;
    justify-content: center;

    .LoadingContent {
        padding: 220px 0;
        font-size: 28px;
        font-weight: 500;
        line-height: 30px;
    }
}

@media screen and (max-width: 480px) {
    .Loading {
    
        .LoadingContent {
            font-size: 22px;
            line-height: 24px;
        }
    }
}