.SelectedCase {
    margin-top: 280px;
    position: relative;

    .CaseOpenWrapper {
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .CaseShadow {
        width: 629px;
        height: 340px;
        border-radius: 100%;
        position: absolute;
        left: -50px;
        transform: rotate(10deg);
        z-index: -1;
        filter: blur(80px);

        &.purple {
            background: #6e238a;
        }
        &.pink {
            background: #722334;
        }
        &.darkblue {
            background: #36237c;
        }
        &.green {
            background: #278658;
        }
        &.yellow {
            background: #747e1f;
        }
        &.blue {
            background: #235f79;
        }
    }
}

@media(max-width:900px) {
    .SelectedCase {
        .CaseShadow {
            width: 600px;
            height: 380px;
        }
    }
}

@media(max-width:650px) {
    // .OpenCase {
    //     margin-top: 260px;
    // }
    .SelectedCase {
        .CaseShadow {
            width: 500px;
            height: 280px;
        }
    }
}

@media (max-width: 550px) {
    .OpenCase {
        margin-top: 250px;
    }
    .SelectedCase {
        .CaseShadow {
            width: 370px;
            height: 220px;
        }
    }
}

@media(max-width:450px) {
    .SelectedCase {
        .CaseShadow {
            width: 320px;
            height: 180px;
        }
    }
}