.SelectedCase {
    margin-top: 120px;
    position: relative;

    .CaseOpenWrapper {
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .CaseShadow {
        width: 629px;
        height: 340px;
        border-radius: 100%;
        position: absolute;
        left: -50px;
        top: 50%;
        transform: rotate(10deg);
        z-index: -1;
        filter: blur(80px);
        transform: translateY(-50%);

        &.purple {
            background: #6e238a;
        }
        &.pink {
            background: #722334;
        }
        &.darkblue {
            background: #36237c;
        }
        &.green {
            background: #278658;
        }
        &.yellow {
            background: #747e1f;
        }
        &.blue {
            background: #235f79;
        }
    }
    .CaseShadow-2 {
        top: 0;
    }
}

@media(max-width:900px) {
    .SelectedCase {
        margin-top: 100px;
        .CaseShadow {
            width: 600px;
            height: 380px;
        }
    }
}

@media(max-width:650px) {
    .SelectedCase {
        margin-top: 80px;
        .CaseShadow {
            width: 500px;
            height: 280px;
        }
    }
}

@media (max-width: 550px) {
    .OpenCase {
        margin-top: 250px;
    }
    .SelectedCase {
        margin-top: 60px;
        .CaseShadow {
            width: 370px;
            height: 220px;
        }
    }
}

@media(max-width:450px) {
    .SelectedCase {
        .CaseShadow {
            width: 320px;
            height: 180px;
        }
    }
}