.CaseOpen {
    position: relative;
    z-index: 10;

    .CaseName {
        color: #FFF;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
    }

    .CaseOpens {
        width: 1000px;
        margin: 0 auto;
        margin-top: 60px;
        padding: 22px;
        height: 270px;
        border-radius: 10px;
        position: relative;

        &.purple {
            border: 1px solid #9432af;
            box-shadow: 0 0 10px #9a33b5, inset 0 0 10px #9a33b5;
        }
        &.pink {
            border: 1px solid #c9405d;
            box-shadow: 0 0 10px #c9405d, inset 0 0 10px #c9405d;
        }
        &.darkblue {
            border: 1px solid #4b22de;
            box-shadow: 0 0 10px #4b22de, inset 0 0 10px #4b22de;
        }
        &.green {
            border: 1px solid #1dd87e;
            box-shadow: 0 0 10px #1dd87e, inset 0 0 10px #1dd87e;
        }
        &.yellow {
            border: 1px solid #cbde22;
            box-shadow: 0 0 10px #cbde22, inset 0 0 10px #cbde22;
        }
        &.blue {
            border: 1px solid #3092bb;
            box-shadow: 0 0 10px #3092bb, inset 0 0 10px #3092bb;
        }

        .CaseOpensRoulette {
            position: relative;
            overflow: hidden;
        }

        .arrows {
            .arrowsTop {
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                
                width: 0;
                height: 0;
                border-left: 14px solid transparent;
                border-right: 14px solid transparent;
                border-top: 20px solid transparent;
                border-radius: 4px;

                &.purple {
                    border-top-color: #9432af;
                    // box-shadow: 2px 2px 4px #9a33b5, inset 0 0 13px #9a33b5;
                }
                &.pink {
                    border-top-color: #c9405d;
                    // box-shadow: 2px 2px 4px #c9405d, inset 0 0 10px #c9405d;
                }
                &.darkblue {
                    border-top-color: #4b22de;
                    // box-shadow: 2px 2px 4px #4b22de, inset 0 0 10px #4b22de;
                }
                &.green {
                    border-top-color: #1dd87e;
                    // box-shadow: 2px 2px 4px #1dd87e,;
                }
                &.yellow {
                    border-top-color: #cbde22;
                    // box-shadow: 0 0 10px #cbde22, inset 0 0 10px #cbde22;
                }
                &.blue {
                    border-top-color: #3092bb;
                    // box-shadow: 0 0 10px #3092bb, inset 0 0 10px #3092bb;
                }
            }
            .arrowsBottom {
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);

                width: 0;
                height: 0;
                border-left: 14px solid transparent;
                border-right: 14px solid transparent;
                border-bottom: 20px solid transparent;
                border-radius: 4px;

                &.purple {
                    border-bottom-color: #9432af;
                    // box-shadow: 2px 2px 4px #9a33b5, inset 0 0 13px #9a33b5;
                }
                &.pink {
                    border-bottom-color: #c9405d;
                    // box-shadow: 2px 2px 4px #c9405d, inset 0 0 10px #c9405d;
                }
                &.darkblue {
                    border-bottom-color: #4b22de;
                    // box-shadow: 2px 2px 4px #4b22de, inset 0 0 10px #4b22de;
                }
                &.green {
                    border-bottom-color: #1dd87e;
                    // box-shadow: 2px 2px 4px #1dd87e,;
                }
                &.yellow {
                    border-bottom-color: #cbde22;
                    // box-shadow: 0 0 10px #cbde22, inset 0 0 10px #cbde22;
                }
                &.blue {
                    border-bottom-color: #3092bb;
                    // box-shadow: 0 0 10px #3092bb, inset 0 0 10px #3092bb;
                }
            }
        }

        .CaseOpensContent {
            display: flex;
            // gap: 26px;
            margin-left: 4px;
            position: relative;

            .ContentCaseItem.purple {
                &::before {
                    background-color: #9830b3;
                }
            }
        
            .ContentCaseItem.blue {
                &::before {
                    background-color: #3092bb;
                }
            }
        
            .ContentCaseItem.pink {
                &::before {
                    background-color: #c9405d;
                }
            }
        
            .ContentCaseItem.green {
                &::before {
                    background-color: #1dd87e;
                }
            }
        
            .ContentCaseItem.yellow {
                &::before {
                    background-color: #cbde22;
                }
            }
        
            .ContentCaseItem.red {
                &::before {
                    background-color: #de2222;
                }
            }
    
            .ContentCaseItem {
                min-width: 170px;
                height: 224px;
                margin-right: 24px;
                border-color: #180838;
                background: #180838;
                border-radius: 14px;
                position: relative;
                
                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 45px;
                    bottom: 40px;
                    left: -8px;
                    border-radius: 5px 0 0 5px;
                }
        
                .ContentCaseItemInner {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 18px 10px;
                    border-radius: 14px;
                    position: relative;
                    overflow: hidden;

                    &::before, &::after {
                        content: '';
                        position: absolute;
                        width: 90px;
                        height: 90px;
                        border-radius: 100%;
                        filter: blur(30px);
                        z-index: 1;
                    }
                    
                    &::before {
                        top: -20px;
                        left: -20px;
                    }
                    &::after {
                        bottom: -20px;
                        right: -20px;
                    }
        
                    &.purple::before, &.purple::after {
                        background: radial-gradient(circle at center, #551a85, #551a8500);
                    }
                    &.pink::before, &.pink::after {
                        background: radial-gradient(circle at center, #681960, #68196000);
                    }
                    &.darkblue::before, &.darkblue::after {
                        background: radial-gradient(circle at center, #402899, #40289900);
                    }
                    &.green::before, &.green::after {
                        background: radial-gradient(circle at center, #26638f, #26638f00);
                    }
                    &.yellow::before, &.yellow::after {
                        background: radial-gradient(circle at center, #bed110, #bed1101e);
                    }
                    &.blue::before, &.blue::after {
                        background: radial-gradient(circle at center, #204791, #20489100);
                    }
                    &.red::before, &.red::after {
                        background: radial-gradient(circle at center, #631a1a, #631a1a00);
                    }
                }

                .ContentCaseItemRing {
                    border-radius: 100px;
                    width: 97px;
                    max-height: 97px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    z-index: 2;
                    
                    img {
                        width: 130px;
                        height: auto;
                    }
                }
        
                .ContentCaseItemDescription {
                    margin-top: 20px;
                    position: relative;
                    z-index: 2;
        
                    .name {
                        font-size: 14px;
                        line-height: 16px;
                    }
        
                    .name {
                        margin-bottom: 6px;
                        color: #FFF;
                        font-weight: 700;
                    }
                    .categoryName {
                        color: #7257a8;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14px;
                    }
                }
            }
        }

        .winnings {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 8;

            &::before {
                content: "";
                width: 350px;
                height: 350px;
                border-radius: 100%;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -44%);
                z-index: -1;
            }
            &.purple::before {
                border: 1px solid #9432af;
                box-shadow: 0 0 10px #9a33b5, inset 0 0 10px #9a33b5;
            }
            &.pink::before {
                border: 1px solid #c9405d;
                box-shadow: 0 0 10px #c9405d, inset 0 0 10px #c9405d;
            }
            &.darkblue::before {
                border: 1px solid #4b22de;
                box-shadow: 0 0 10px #4b22de, inset 0 0 10px #4b22de;
            }
            &.green::before {
                border: 1px solid #1dd87e;
                box-shadow: 0 0 10px #1dd87e, inset 0 0 10px #1dd87e;
            }
            &.yellow::before {
                border: 1px solid #cbde22;
                box-shadow: 0 0 10px #cbde22, inset 0 0 10px #cbde22;
            }
            &.blue::before {
                border: 1px solid #3092bb;
                box-shadow: 0 0 10px #3092bb, inset 0 0 10px #3092bb;
            }

            h3 {
                width: 500px;
                position: absolute;
                bottom: -10px;
                left: 50%;
                text-align: center;
                transform: translateX(-50%);
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;
                z-index: 10;
            }

            .CaseShadow {
                transform: rotate(4deg);
                opacity: 0.7;
            }
        }
    }
     
    .CaseOpenBtn {
        margin-top: 140px;
        display: flex;
        justify-content: center;
        gap: 18px;

        .openBtn:disabled {
            opacity: 0.8;
        }

        .btn {
            // width: 305px;
            padding: 18px 64px;
            border-radius: 14px;
            text-align: center;
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            cursor: pointer;
            position: relative;
            z-index: 9;
        }
        .button {
            display: flex;
            justify-content: center;
            gap: 18px;
        }

        .tryAgain {
            border: 1px solid #FFF;
            background: #180838;
            transition: .2s ease;

            &.purple:hover {
                border: 1px solid #9432af;
                box-shadow: 0 0 5px #9a33b5, inset 0 0 5px #9a33b5;
            }
            &.pink:hover {
                border: 1px solid #c9405d;
                box-shadow: 0 0 5px #c9405d, inset 0 0 5px #c9405d;
            }
            &.darkblue:hover {
                border: 1px solid #4b22de;
                box-shadow: 0 0 5px #4b22de, inset 0 0 5px #4b22de;
            }
            &.green:hover {
                border: 1px solid #1dd87e;
                box-shadow: 0 0 5px #1dd87e, inset 0 0 5px #1dd87e;
            }
            &.yellow:hover {
                border: 1px solid #cbde22;
                box-shadow: 0 0 5px #cbde22, inset 0 0 5px #cbde22;
            }
            &.blue:hover {
                border: 1px solid #3092bb;
                box-shadow: 0 0 5px #3092bb, inset 0 0 5px #3092bb;
            }
        }

        .sell {
            background: linear-gradient(48deg, #b4550a, 50%, #f28733 100%);
            border: 1px solid #9b4705;

            &:disabled {
                opacity: 0.8;
            }
        }
    }
}
@media(max-width: 1080px) {
    .CaseOpen {
        .CaseOpens {
            width: 100%;
        }
    }
}

@media(max-width:900px) {
    .CaseOpen {
        .CaseOpens {
            .CaseOpensContent {
                left: -80px;
            }
        }
    }
}

@media(max-width:650px) {
    .CaseOpen {
        .CaseName {
            font-size: 26px;
            line-height: 28px;
        }
        .CaseOpens {
            margin-top: 30px;
            .CaseOpensContent {
                .ContentCaseItem {
                    height: auto;
                    .ContentCaseItemRing {
                        width: 80px;
                        max-height: 80px;
                        img {
                            width: 100px;
                            height: auto;
                        }
                    }
                }
            }
            .winnings {
                img {
                    width: 380px;
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::before {
                    width: 300px;
                    height: 300px;
                    top: 130px;
                }
                h3 {
                    bottom: -130px;
                }
                .CaseShadow {
                    width: 400px;
                    height: 200px;
                }
            }
        }
        .CaseOpenBtn {
            .btn {
                padding: 12px 60px;
            }
        }
        .CaseOpenBtn {
            margin-top: 80px;
            .btn {
                padding: 12px 30px;
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 550px) {
    .CaseOpen {
        .CaseName {
            font-size: 18px;
            line-height: 20px;
        }
        .CaseOpens {
            width: 1000px;
            height: auto;
            margin-top: 30px;
            padding: 16px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .CaseOpensContent {
                .ContentCaseItem {
                    .ContentCaseItemDescription {
                        .name {
                            margin-bottom: 4px;
                            font-size: 12px;
                            line-height: 14px;
                        }
                        .categoryName {
                            font-size: 10px;
                            line-height: 12px;
                        }
                    }
                }
            }
            .winnings {
                img {
                    width: 155px;
                }
                &::before {
                    width: 175px;
                    height: 175px;
                    top: 38px;
                }
                .CaseShadow {
                    width: 320px;
                    height: 200px;
                }
            }
        }
        .CaseOpenBtn {
            margin-top: 60px;
            .btn {
                width: 180px;
                padding: 12px 30px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
}

@media(max-width:450px) {
    .CaseOpen {
        .CaseName {
            font-size: 16px;
            line-height: 18px;
        }
        .CaseOpens {
            margin-top: 20px;
            padding: 12px;
            // .CaseOpensContent {
            //     .ContentCaseItem {
            //         min-width: 95px;
            //         height: auto;
            //         padding: 12px 10px;
            //         .ContentCaseItemRing {
            //             width: 55px;
            //             height: 55px;
            //             img {
            //                 width: 55px;
            //                 height: 55px;
            //             }
            //         }
            //         .ContentCaseItemDescription {
            //             .name {
            //                 margin-bottom: 4px;
            //                 font-size: 10px;
            //                 line-height: 12px;
            //             }
            //             .categoryName {
            //                 font-size: 8px;
            //                 line-height: 10px;
            //             }
            //         }
            //     }
            // }
            // .winnings {
            //     img {
            //         width: 140px;
            //     }
            //     &::before {
            //         width: 155px;
            //         height: 155px;
            //         top: 28px;
            //     }
            //     .CaseShadow {
            //         width: 270px;
            //         height: 200px;
            //     }
            // }
        }
        .CaseOpenBtn {
            margin-top: 40px;
            .btn {
                width: 140px;
                padding: 12px 15px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
}