@font-face {
  font-family: 'Gilroy';
  src: url(Font/gilroy/gilroy-regular.ttf);

}

@font-face {
  font-family: 'Gilroy';
  src: url(Font/gilroy/gilroy-medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: 'Gilroy';
  src: url(Font/gilroy/gilroy-semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url(Font/gilroy/gilroy-bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h2 {
  font-weight: bold;
}

body {
  font-family: "Gilroy";
  background: #200038;
  color: white;
  background-image: url('./img/Фон.png');
  background-repeat: no-repeat;
  background-position: center 140px;
  background-attachment: fixed;
  font-size: 13px;
  display: block;
}
.App {
  overflow: hidden;
}
.main {
  
}
h2 {
  font-size: 30px;
}

a {
  color: white;
  text-decoration: none;
}

ul, li {
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.mainWidht {
  max-width: 1358px;
  margin: auto;
  padding: 0 20px;
}

.orangeBtn {
  border: none;
  color: #fff;
  background: linear-gradient(45deg, #b4550a 0%, #de7c2f 100%);
  padding: 11px;
  font-size: 14px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-weight: medium;
  cursor: pointer;
}

h2 {
  text-align: center;
}

span.orange {
  color: #ed771b;
}

.CasesByRarityCard,
.FreeCaseCard {
  background-size: calc(100% + 10px) calc(100% + 10px);
  background-position: -2px -2px;
}

.ToHome {
  display: flex;
  align-items: center;
}

@keyframes colorChange {
  0% {
    fill: #742b9b;
  }
  25% {
    fill: #A7510D;
  }
  50% {
    fill: #26638f;
  }
  75% {
    fill: #de7422;
  }
  100% {
    fill: #742b9b;
  }
}

.Loading .LoadingContent svg path {
  animation: colorChange 5s infinite;
}

.Loading .LoadingContent svg {
  width: 300px;
  transform: rotate(10deg);
}

@media(max-width:1300px) {
  .AllWinner .main .offers {
    width: 46% !important;
  }

  .FreeCaseMain {
    gap: 54px !important;
  }
}

@media(max-width:1050px) {
  .offersTop {
    margin-top: -45px;
  }

  .AllWinner .main {
    margin-top: 100px;
  }

  .WinnerCard:nth-child(3) {
    display: none !important;
  }

  .AllWinner .main .offers {
    width: 40% !important;
  }

  .AllWinner .main .DailyGiveawayMain {
    width: 60% !important;
  }

  .FreeCaseMain {
    gap: 86px !important;
  }

  .FreeСase .FreeCaseMain .FreeCaseCard {
    padding: 35px;
  }


}

@media(max-width:900px) {
  .Header nav .massager .ico {
    width: 25px !important;
    height: 25px !important;

    img {
      width: calc(100% - 8px) !important;
    }
  }

  body {
    font-size: 10px;
  }

  .HeaderBottom .HeaderBottomCard {
    width: 8vw !important;
    height: 8vw !important;
  }

  .HeaderBottomCard::after {
    width: 4px !important;
    height: 19px !important;
    left: -4px !important;
  }

  .FreeCaseCard,
  .CasesByRarityCard {
    img {
      width: 100px;
      margin: auto;
    }
  }

  .FreeCaseMain {
    gap: 38px !important;
  }

  .About .aboutCard {
    flex-direction: column;
    text-align: center;

    .title {
      font-size: 10px;
      opacity: 0.7;
    }

    span {
      font-size: 12px !important;
    }

    .img {
      width: 50px !important;
      height: 50px !important;
      padding: 15px;

      img {
        height: 100%;
      }
    }

  }


  .AllWinner .main .offers .offersBottom {
    margin-top: 20px;
  }

  .offersTop {
    button {
      margin-top: -40px;
    }
  }
}

@media(max-width:650px) {
  .HeaderBottom .HeaderBottomCard{
    width: 20vw!important;
    height: 20vw!important;
  }
  .AllWinner .main .offers {
    width: 100% !important;
  }


  .About {
    flex-wrap: wrap;
    gap: 14px;
  }

  .AllWinner .main {
    flex-direction: column;
    gap: 50px;
    padding-bottom: 20px;
  }

  .AllWinner .main .DailyGiveawayMain {
    width: 100% !important;
  }

  .WinnerCard:nth-child(3) {
    display: flex !important;
  }

  .offers {
    width: 100% !important;
  }

  .Loading .LoadingContent svg {
    width: 250px;
  }
}

@media(max-width:550px) {
  h2 {
    font-size: 20px;
  }

  .CasesByRarity nav a,
  .FreeСase nav a {
    padding: 10px 10px !important;
    font-size: 8px;
  }

  .FreeСase .FreeCaseMain {
    gap: 20px !important;
    justify-content: space-between;
  }

  .Header {
    padding: 0 !important;
  }

  .Header nav .massager {
    display: none !important;
  }

  .Loading .LoadingContent svg {
    width: 200px;
  }
}

@media(max-width:450px) {

  .FreeCaseCard img,
  .CasesByRarityCard img {
    // width: 220px;
    margin: auto;
  }

  .FreeСase .FreeCaseMain,
  .CasesByRarity .CasesByRarityCardMain,
  .AllWinner .main .offers .winnerCardMain {
    justify-content: center !important;
  }

  .Loading .LoadingContent svg {
    width: 150px;
  }
}