.SkinsOutput {
    margin-top: 60px;

    .SkinsOutputWrapper {
        background: #180838;
        border-radius: 20px;
        padding-bottom: 52px;

        .SkinsOutputHead {
            padding: 23px;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background: linear-gradient(73deg, #32166b, 50%, #672183 100%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            .SkinsOutputLine {
                position: relative;
                flex-grow: 1;
    
                &::before {
                    content: "";
                    width: 1px;
                    height: 165px;
                    position: absolute;
                    top: -100px;
                    left: 50%;
                    background: #180838;
                }
            }

            .item {
                width: 360px;
                position: relative;
                text-align: center;

                .itemTitle {
                    color: #FFF;
                    font-size: 23px;
                    font-weight: 700;
                    line-height: 24px;
                }

                .ItemDescription {
                    height: 48px;
                    margin-top: 12px;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;

                    span {
                        color: #ed771b;
                    }
                }

                .num {
                    color: #FFF;
                    font-size: 90px;
                    font-weight: 700;
                    line-height: 22px;
                    position: absolute;
                    right: -20px;
                    bottom: 10px;
                    opacity: 0.1;
                }
            }
        }

        .SkinsOutputContent {
            padding-top: 52px;
            text-align: center;

            .SkinsOutputContentTitle {
                color: #FFF;
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;

                span {
                    color: #ed771b;
                }
            }

            .inputLink {
                width: 900px;
                margin: 0 auto;
                margin-top: 28px;
                position: relative;

                input {
                    width: 100%;
                    padding: 28px 240px 28px 35px;
                    border: 1px solid #ed771b;
                    background: none;
                    outline: none;
                    border-radius: 14px;

                    color: #7257a8;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 16px;
                }

                .saveBtn {
                    width: 240px;
                    height: 100%;
                    border-top-right-radius: 14px;
                    border-bottom-right-radius: 14px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    border: none;
                    border-top: 1px solid #ed771b;
                    border-bottom: 1px solid #ed771b;
                    border-right: 1px solid #ed771b;
                    background: linear-gradient(73deg, #a7510d, 50%, #d17227 100%);
                    box-shadow: -2px 0 8px 1px #d6762a;

                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 16px;

                    transition: box-shadow .3s ease;

                    &:hover {
                        box-shadow: -2px -0px 6px 1px #d6762a;
                    }
                }
            }

            .outputAvailable {
                margin-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 14px;

                .update {
                    cursor: pointer;
                }

                p {
                    color: #FFF;
                    font-size: 27px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }
    }
}