.ProfileBottom {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 22px;
    row-gap: 28px;
    margin-bottom: 60px;

    .ProfileBottomCard.c1 {
        background: linear-gradient(45deg, #3a1359 0%, #180838 100%);

        &::before {
            background-color: #9830b3;
        }
    }

    .ProfileBottomCard.c2 {
        background: linear-gradient(45deg, #173366 0%, #180939 100%);

        &::before {
            background-color: #3092bb;
        }
    }

    .ProfileBottomCard.c3 {
        background: linear-gradient(45deg, #40143f 0%, #190838 100%);

        &::before {
            background-color: #c9405d;
        }
    }

    .ProfileBottomCard.c4 {
        background: linear-gradient(45deg, #193447 0%, #180938 100%);

        &::before {
            background-color: #1dd87e;
        }
    }

    .ProfileBottomCard.c5 {
        background: linear-gradient(45deg, #59292f 0%, #190938 100%);

        &::before {
            background-color: #de7422;
        }
    }

    .ProfileBottomCard.c6 {
        background: linear-gradient(45deg, #594c29 0%, #382809 100%);

        &::before {
            background-color: #cbde22;
        }
    }

    .ProfileBottomCard.c7 {
        background: linear-gradient(45deg, #2a2959 0%, #091238 100%);

        &::before {
            background-color: #4b22de;
        }
    }

    .ProfileBottomCard {
        width: 170px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 18px 10px;
        border-radius: 14px;
        border-width: 2px;
        border-style: solid;
        border-color: #180838;
        position: relative;
        cursor: pointer;
        transition: all .4s;
        
        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 45px;
            bottom: 40px;
            left: -8px;
            border-radius: 5px 0 0 5px;
        }

        .status {
            position: absolute;
            top: 8px;
            left: -10px;
            padding: 4px 6px;
            border: 2px solid #1dd87e;
            background: #058648;
            border-radius: 4px;
            font-size: 12px;
            line-height: 12px;
            cursor: pointer;
            display: flex;
            gap: 4px;
            overflow: hidden;
            transition: width 0.5s ease;
          
            span {
              display: none;
            }
          
            &:hover span{
                display: block;
            }
          }
        .status.sold {
            cursor: default;
            border-color: #360d83;
            background: #190938;
            opacity: 0.9;
        }

        .ProfileBottomBlockRing {
            border-radius: 100px;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 80px;
                height: 80px;
            }
        }

        .ProfileBottomBlockDescription {
            margin-top: 20px;

            .name {
                font-size: 14px;
                line-height: 16px;
            }
            .categoryName {
                font-size: 12px;
                line-height: 14px;
            }

            .name {
                margin-bottom: 4px;
                color: #FFF;
                font-weight: 700;
            }
            .categoryName {
                color: #7257a8;
                font-weight: 400;
            }
        }
    }

    .ProfileBottomCard.c1:hover {
        border: #9830b3 2px solid !important;
    }

    .ProfileBottomCard.c2:hover {
        border: #3092bb 2px solid !important;
    }

    .ProfileBottomCard.c3:hover {
        border: #c9405d 2px solid !important;
    }

    .ProfileBottomCard.c4:hover {
        border: #1dd87e 2px solid !important;
    }

    .ProfileBottomCard.c5:hover {
        border: #de7422 2px solid !important;
    }
}

@media (max-width: 1380px) {
    .ProfileBottom {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        .ProfileBottomCard {
            width: 100%;
        }
    }
}

@media(max-width:1180px) {
    .ProfileBottom {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
}

@media (max-width: 970px) {
    .ProfileBottom {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

@media(max-width:720px) {
    .ProfileBottom {
        margin-bottom: 40px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 560px) {
    .mainWidht {
        padding: 0 16px;
    }
    .ProfileBottom {
        .ProfileBottomCard {
            padding: 22px 16px;
            height: 170px;
            .ProfileBottomBlockRing {
                width: 70px;
                height: 70px;
                img {
                    width: 70px;
                    height: 70px;
                }
            }
            .ProfileBottomBlockDescription {
                margin-top: 10px;
                .name {
                    margin-bottom: 2px;
                    font-size: 12px;
                    line-height: 14px;
                }
                .categoryName {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }
}
@media screen and (max-width: 530px) {
    .ProfileBottom {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        .ProfileBottomCard {
            .status {
                top: 10px;
                left: 10px;
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}

@media(max-width:450px) {
    .ProfileBottom {
        .ProfileBottomCard {
            .ProfileBottomBlockRing {
                width: 60px;
                height: 60px;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            .status {
                top: 5px;
                left: 5px;
            }
        }
    }
}