.ProfileBottom {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 22px;
    row-gap: 28px;
    margin-bottom: 60px;

    .ProfileBottomCard.purple {
        &::before {
            background-color: #9830b3;
        }
    }

    .ProfileBottomCard.blue {
        &::before {
            background-color: #3092bb;
        }
    }

    .ProfileBottomCard.pink {
        &::before {
            background-color: #c9405d;
        }
    }

    .ProfileBottomCard.green {
        &::before {
            background-color: #1dd87e;
        }
    }

    .ProfileBottomCard.yellow {
        &::before {
            background-color: #cbde22;
        }
    }

    .ProfileBottomCard.red {
        &::before {
            background-color: #de2222;
        }
    }

    .ProfileBottomCard.purple:hover {
        border: #9830b3 solid 2px;
    }

    .ProfileBottomCard.blue:hover {
        border: #3092bb solid 2px;
    }

    .ProfileBottomCard.pink:hover {
        border: #c9405d solid 2px;
    }

    .ProfileBottomCard.green:hover {
        border: #1dd87e solid 2px;
    }

    .ProfileBottomCard.yellow:hover {
        border: #cbde22 solid 2px;
    }

    .ProfileBottomCard.red:hover {
        border: #de2222 solid 2px;
    }

    

    .ProfileBottomCard {
        width: 170px;
        height: 200px;
        border-radius: 14px;
        border-width: 2px;
        border-style: solid;
        border-color: #180838;
        background: #180838;
        position: relative;
        cursor: pointer;
        transition: all .4s;
        
        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 45px;
            bottom: 40px;
            left: -8px;
            border-radius: 5px 0 0 5px;
        }
        
        .ProfileCardInner {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 18px 10px;
            border-radius: 14px;
            position: relative;
            overflow: hidden;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                filter: blur(25px);
                z-index: 1;
            }
            
            &::before {
                top: -20px;
                left: -20px;
            }
            &::after {
                bottom: -20px;
                right: -20px;
            }

            &.purple::before, &.purple::after {
                background: radial-gradient(circle at center, #551a85, #551a8500);
            }
            &.pink::before, &.pink::after {
                background: radial-gradient(circle at center, #681960, #68196000);
            }
            &.darkblue::before, &.darkblue::after {
                background: radial-gradient(circle at center, #402899, #40289900);
            }
            &.green::before, &.green::after {
                background: radial-gradient(circle at center, #26638f, #26638f00);
            }
            &.yellow::before, &.yellow::after {
                background: radial-gradient(circle at center, #bed110, #bed1101e);
            }
            &.blue::before, &.blue::after {
                background: radial-gradient(circle at center, #204791, #20489100);
            }
            &.red::before, &.red::after {
                background: radial-gradient(circle at center, #631a1a, #631a1a00);
            }
        }
        .status {
            position: absolute;
            top: 8px;
            left: -10px;
            padding: 4px 6px;
            border: 2px solid #1dd87e;
            background: #058648;
            border-radius: 4px;
            font-size: 12px;
            line-height: 12px;
            cursor: pointer;
            display: flex;
            gap: 4px;
            overflow: hidden;
            transition: width 0.5s ease;
            z-index: 3;
          
            span {
              display: none;
            }
          
            &:hover span{
                display: block;
            }
          }
        .status.sold {
            cursor: default;
            border-color: #360d83;
            background: #190938;
            opacity: 0.9;
        }

        .ProfileBottomBlockRing {
            border-radius: 100px;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
            
            img {
                width: 110px;
                height: auto;
            }
        }

        .ProfileBottomBlockDescription {
            position: relative;
            z-index: 2;

            .name {
                font-size: 14px;
                line-height: 16px;
            }
            .categoryName {
                font-size: 12px;
                line-height: 14px;
            }

            .name {
                margin-bottom: 4px;
                color: #FFF;
                font-weight: 700;
            }
            .categoryName {
                color: #7257a8;
                font-weight: 400;
            }
        }
    }

    .ProfileBottomCard.c1:hover {
        border: #9830b3 2px solid !important;
    }

    .ProfileBottomCard.c2:hover {
        border: #3092bb 2px solid !important;
    }

    .ProfileBottomCard.c3:hover {
        border: #c9405d 2px solid !important;
    }

    .ProfileBottomCard.c4:hover {
        border: #1dd87e 2px solid !important;
    }

    .ProfileBottomCard.c5:hover {
        border: #de7422 2px solid !important;
    }
}

@media (max-width: 1380px) {
    .ProfileBottom {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        .ProfileBottomCard {
            width: 100%;
        }
    }
}

@media(max-width:1180px) {
    .ProfileBottom {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
}

@media (max-width: 970px) {
    .ProfileBottom {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

@media(max-width:720px) {
    .ProfileBottom {
        margin-bottom: 40px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 560px) {
    .mainWidht {
        padding: 0 16px;
    }
    .ProfileBottom {
        .ProfileBottomCard {
            padding: 22px 16px;
            height: 170px;
            .ProfileBottomBlockRing {
                margin-top: 4px;
                width: 70px;
                height: 70px;
                img {
                    width: 80px;
                    height: auto
                }
            }
            .ProfileBottomBlockDescription {
                // margin-top: 10px;
                .name {
                    margin-bottom: 2px;
                    font-size: 12px;
                    line-height: 14px;
                }
                .categoryName {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }
}
@media screen and (max-width: 530px) {
    .ProfileBottom {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        .ProfileBottomCard {
            .status {
                top: 10px;
                left: -10px;
                padding: 3px 5px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
}

@media(max-width:450px) {
    .ProfileBottom {
        .ProfileBottomCard {
            .ProfileBottomBlockRing {
                width: 60px;
                height: 60px;
                img {
                    width: 70px;
                    height: auto;
                }
            }
        }
    }
}